:root {
    --widht-footer: 70px;
}

body {
    background-color: #3f3f3f;
    color: white;
}

.notFound {
    background-color: crimson;
    color: black;
}

footer {
    background: #000000;
    width: 100%;
    height: var(--widht-footer);
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}